<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CCTV Products</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .sidebar {
            padding: 15px;
            background-color: #f8f9fa; /* Light background for sidebar */
            border-right: 1px solid #dee2e6; /* Right border for separation */
            height: 100vh; /* Full height for the sidebar */
        }
        .main-content {
            padding: 15px; /* Padding for main content */
        }
        body {
            margin: 0; /* Remove default margin */
        }
    </style>
</head>
<body>
    {% include 'navbar.html' %}
    <div class="container-fluid mt-5">
        <h1>CCTV Products</h1>
         <a href="{{ url_for('register_product') }}" class="btn btn-primary mb-3">Register New Product</a>
        <div class="row">
            <!-- Sidebar for filtering -->
            <div class="col-md-3 sidebar">
                <h3>Filter Products</h3>
                <form method="GET" action="{{ url_for('cctv_products') }}">
                    <div class="form-group">
                        <label for="vendor_name">Vendor Name:</label>
                        <select name="vendor_name" id="vendor_name" class="form-control">
                            <option value="">Select Vendor</option>
                            {% for vendor in vendors %}
                                <option value="{{ vendor }}">{{ vendor }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="model_number">Model Number:</label>
                        <select name="model_number" id="model_number" class="form-control">
                            <option value="">Select Model</option>
                            {% for model in models %}
                                <option value="{{ model }}">{{ model }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="camera_type">camera_type:</label>
                        <select name="camera_type" id="camera_type" class="form-control">
                            <option value="">Select camera_type</option>
                            {% for camera_type in camera_types %}
                                <option value="{{ camera_type }}">{{ camera_type }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="image_sensor">Image Sensor:</label>
                        <select name="image_sensor" id="image_sensor" class="form-control">
                            <option value="">Select Image Sensor</option>
                            {% for sensor in image_sensors %}
                                <option value="{{ sensor }}">{{ sensor }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="max_resolution">Max Resolution:</label>
                        <select name="max_resolution" id="max_resolution" class="form-control">
                            <option value="">Select Max Resolution</option>
                            {% for resolution in max_resolutions %}
                                <option value="{{ resolution }}">{{ resolution }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="min_illumination">Min Illumination:</label>
                        <select name="min_illumination" id="min_illumination" class="form-control">
                            <option value="">Select Min Illumination</option>
                            {% for illumination in min_illuminations %}
                                <option value="{{ illumination }}">{{ illumination }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="wdr">WDR:</label>
                        <select name="wdr" id="wdr" class="form-control">
                            <option value="">Select WDR</option>
                            {% for wdr in wdr_options %}
                                <option value="{{ wdr }}">{{ wdr }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="built_in_Mic">built_in_Mic:</label>
                        <select name="built_in_Mic" id="built_in_Mic" class="form-control">
                            <option value="">Select built_in_Mic</option>
                            {% for built_in_Mic in built_in_mic_options %}
                                <option value="{{ built_in_Mic }}">{{ built_in_Mic }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="supplement_light_range">Supplement Light Range:</label>
                        <select name="supplement_light_range" id="supplement_light_range" class="form-control">
                            <option value="">Select Supplement Light Range</option>
                            {% for range in supplement_light_ranges %}
                                <option value="{{ range }}">{{ range }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="lens_type">Lens Type:</label>
                        <select name="lens_type" id="lens_type" class="form-control">
                            <option value="">Select Lens Type</option>
                            {% for lens in lens_types %}
                                <option value="{{ lens }}">{{ lens }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="focal_length">Focal Length:</label>
                        <select name="focal_length" id="focal_length" class="form-control">
                            <option value="">Select Focal Length</option>
                            {% for length in focal_lengths %}
                                <option value="{{ length }}">{{ length }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Filter</button>
                </form>
            </div>

            <!-- Main content area for products -->
            <div class="col-md-9 main-content">
                <div class="row">
                    {% for product in products %}
                    <div class="col-md-4 mb-4">
                        <div class="card">
                            <img src="data:image/jpeg;base64,{{ product[2] }}" class="card-img-top" alt="Camera Image">
                            <div class="card-body">
                                <h5 class="card-title">{{ product[0] }}</h5> <!-- Vendor Name -->
                                <p class="card-text">{{ product[1] }}</p> <!-- Model Number -->
                                <p>Price: {{ product[3] }}</p> <!-- Price -->
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>