<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View and Register V&D</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .card {
            margin: 20px;
        }
    </style>
</head>
<body>
    {% include 'navbar.html' %}

    <div class="container mt-5">
        <h1 class="text-center">Vendors and Distributors</h1>
        <div class="row">
            <div class="col-md-6">
                <div class="card text-center">
                    <div class="card-body">
                        <h5 class="card-title">View Vendors</h5>
                        <p class="card-text">Click below to view the list of registered vendors.</p>
                        <a href="{{ url_for('show_vendors') }}" class="btn btn-primary">Go to View Vendors</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card text-center">
                    <div class="card-body">
                        <h5 class="card-title">View Distributors</h5>
                        <p class="card-text">Click below to view the list of registered distributors.</p>
                        <a href="{{ url_for('show_distributors') }}" class="btn btn-primary">Go to View Distributors</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>