<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Summary</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .card {
            margin: 20px;
        }
    </style>
</head>
<body>
    {% include 'navbar.html' %}

    <div class="container mt-5">
        <h1 class="text-center">View Summaries</h1>
        <div class="row">
            <div class="col-md-4">
                <div class="card text-center">
                    <div class="card-body">
                        <h5 class="card-title">View Project Summaries</h5>
                        <p class="card-text">View detailed summaries of all projects.</p>
                        <a href="{{ url_for('project_summary') }}" class="btn btn-primary">Go to Project Summaries</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card text-center">
                    <div class="card-body">
                        <h5 class="card-title">RFQ Summaries</h5>
                        <p class="card-text">View summaries of all Requests for Quotations.</p>
                        <a href="{{ url_for('rfq_summary') }}" class="btn btn-primary">Go to RFQ Summaries</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card text-center">
                    <div class="card-body">
                        <h5 class="card-title">RFTS Summaries</h5>
                        <p class="card-text">View summaries of all Technical Support Requests.</p>
                        <a href="{{ url_for('technical_support_summary') }}" class="btn btn-primary">Go to RFTS Summaries</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card text-center">
                    <div class="card-body">
                        <h5 class="card-title">View PO Status</h5>
                        <p class="card-text">View Purchase Order status with filters.</p>
                        <a href="{{ url_for('view_po_status') }}" class="btn btn-primary">Go to PO Status</a>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>